
*.ide-shm
*.ide-wal
*.ide
*.ide
ManageMuseum/ManageMuseum/App_Data/ManageMuseum.Models.OurContectDb.mdf
ManageMuseum/ManageMuseum/App_Data/ManageMuseum.Models.OurContectDb.mdf
ManageMuseum/ManageMuseum/App_Data/ManageMuseum.Models.OurContectDb_log.ldf
*.ide
ManageMuseum/.vs/ManageMuseum/v15/.suo
