@{
    ViewBag.Title = "Marcar Eposições";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/OurCSS.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<form>
    <div class="container">
        <div class="form-container">
            <div>
                <label for="InputName"> Nome: </label>
                <input class="form-control" type="text" id="InputName" />
            </div>

            <div class="affix-row">
                <label for="InputStartDate"> Data de inicio: </label>
                <input class="form-control" type="date" id="InputStartDate" />
            </div>

            <div class="affix-row">
                <label for="InputEndDate"> Data de Fim: </label>
                <input class="form-control" type="date" id="InputEndDate" />
            </div>

            <div class="form-group">
                <label for="SelectEventType">Tipo de evento </label>
                <select class="form-control" id="SelectEventType">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="SelectSpaces">Lista de Espaços:</label>
                <select class="form-control" id="SelectSpaces">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            @*<div class="form-group">*@
            <label for="comment">Descrição:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            @*</div>*@

            <div>
                <button type="button">Submmit</button>
            </div>
        </div>
       
    </div>
</form>
</body>
</html>
