@model ManageMuseum.Models.Event

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowRequestsList</title>
</head>
<body>
<div>
    @*@foreach (var item in ViewBag.Data)
    {
        <p> @item.EventState </p>
        
    }*@
    <p>@ViewBag.Data</p>
</div>
</body>
</html>
